body {
    padding: 2px 2px 2px 2px;
    height: 5%;
    background-color: black;
}
    
#barra-lateral {
    position: fixed ;
    top: 0;
    display: block;
    padding-bottom:  auto;
    background-color: #101010;
    border-radius: 3%;
}

#logo {
    margin: 10px 10px 10px 10px;
    height: 100px;
}

.barra {
    display: block;
    padding: 10px auto;
    margin-top: 35px;
    margin-left: 17px;
    margin-bottom: inherit;
    border-radius: 50%;
}

main {
    margin-left: 120px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
}

#barra-de-rolamento {
    border: 6px solid white;
    display: block;
    position: absolute;
    top: 0;
    right: auto;
    left: auto;
    padding: 90% 300px 30% 300px;
}